%strong
  %i.glyphicon.glyphicon-tags
  = " Category"
%hr
  - if @status == 'save' then
    .alert.alert-success
      %strong= 'Complete'
      = ' Categories are saved.'
  - elsif @status == 'add' then
    .alert.alert-success
      %strong= 'Complete'
      = ' New category is added.'
  - elsif @status == 'error' then
    .alert.alert-danger
      %strong= 'Database ERROR'
      = ' Please check form and submit again.'
  %form{:role => 'form', :method => 'post', :action => './'}
    - @category.each do |c|
      .form-group{:id => c.id}
        %input.form-control{:name => 'category[]', :type => 'text', :value => c.name}
        %input{:type => "hidden", :name => 'id[]', :value => c.id}
        %button.btn.btn-default{:type => "button", :onClick => "javascript:up_category(this)"}= "Up"
        %button.btn.btn-default{:type => "button", :onClick => "javascript:down_category(this)"}= "Down"
        %button.btn.btn-danger{:type => "button", :style => "float:right;"}= "Delete"
    %button.btn.btn-primary{:name => 'submit', :type => 'submit', :value => 'save'}= 'Save'
  %form{:role => 'form', :method => 'post', :action => './', :style =>'margin-top:30px;'}
    .form-group
      %label= 'Add category'
      %input.form-control{:name => 'category', :type => 'text'}
    .form-group
      %button.btn.btn-default{:name => 'submit', :type => 'submit', :value => 'add'}= 'Add'
