%strong
  %i.glyphicon.glyphicon-user
  = " members"
%hr
  - if @status == 'success' then
    .alert.alert-success
      %strong= 'Success'
      = ' New member is added.'
  - elsif @status == 'error' then
    .alert.alert-danger
      %strong= 'File ERROR'
      = ' Please check "settings.json".'
  %table.table
    %thead
      %tr
        %th= "ID"
        %th= "Name"
        %th= ""
    %tbody
      - @members.each do |member|
        - className = "success" if member.id == session[:user_id]
        %tr{:id => member.id, :class => className}
          %td= member.id
          %td= member.name
          %td
            - if className then
              %strong= "You!"
            - else
              %button.btn.btn-danger.btn-xs{:name => member.id, :onClick => "javascript:leave_member(this)"}= "leave"

%strong
  %i.glyphicon.glyphicon-saved
  = "Add member"
%hr
  %form{:role => 'form', :action => './', :method => 'post'}
    .form-group
      %label= "ID:"
      %input.form-control{:name => "id", :type => "text", :value => @newid}
    .form-group
      %label= "Name:"
      %input.form-control{:name => "name", :type => "text", :value => @newname}
    .form-group
      %label= "Password:"
      %input.form-control{:name => "password", :type => "password"}
    .form-group
      %label= "Confirm Password:"
      %input.form-control{:name =>  "confirm_password", :type => "password"}
    .form-group
      %button.btn.btn-primary{:type => "submit"}
        %i.glyphicon.glyphicon-ok
        = "Add member"
